/* Your Website Styles */
body {
	color: #696969;
	background: #bd94bd;
}

h1 {font-family: 'Iceland', cursive;
	color: #ffffff;
	font-size: 3em;
	margin-bottom: -10px;
}

h3{
	color: #FFFFFF;
font-family: 'Yanone Kaffeesatz', 'sans-serif';
size: 2em;}

p{
	color: #FFFFFF;
font-family: 'Yanone Kaffeesatz', 'sans-serif';
text-indent: 2em;
}

li{
	color: #FFFFFF;
	font-family: 'Yanone Kaffeesatz', 'sans-serif';
	list-style: none;
	text-indent: 2em;
}

img {
	width: 30px;
	padding-left: 2em;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}